.about {
  padding: 3rem 0;
  background-color: #222;
}

.about h2 {
  font-family: var(--font-title);
  font-size: 2.5rem;
  color: #d98324;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.about p {
  font-family: var(--font-text);
  font-size: 1.25rem;
  color: #aaa;
  max-width: 50rem;
  margin: 0 auto;
  line-height: 200%;
}
