.hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(77, 60, 60, 0.5)), url("/images/hero-banner.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f6d0;
  text-align: center;
}

.hero h1 {
  font-family: var(--font-title);
  font-size: 4rem;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
  animation: slideIn 1s ease-out;
}

.hero p {
  font-family: var(--font-text);
  font-size: 1.5rem;
  letter-spacing: 0.125rem;
  margin-bottom: 1.875rem;
  animation: slideIn 1.2s ease-out;
}
